.DS_Store
.tmp
.git

### Node template
# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
bower_components

### JetBrains folder
.idea

### Build folders
prod_build
dev_build

### Test coverage folders
coverage